<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings> 
 <!--<add key="SetConnectionString" value="server=(local);uid=sa;pwd=as;database=ynhrMemberManage"/>-->
 <add key="SetConnectionString" value="server=(local)\sqlexpress;uid=sa;pwd=sa;database=ynhrMemberManage"/>
 <add key="ConnectionString" value="" />
</appSettings>
</configuration>
